<!--- confirmationModal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">Confirmation box</h3>
			</div>
			<div class="modal-body">
				<p id="message">
				Are you sure you want delete this document ?
				</p>
			</div>
			<div class="modal-footer">
				<button id='yes'>Yes</button>
				<button id='no'>No</button>
			</div>
		</div>
	</div>			
</div>
		
<!--- /confirmationModal -->
<!--  Add Modal -->
		<div class="modal fade" id="addModal" tabindex="-1" role="dialog" >
			<div class="modal-dialog">
				<div class="modal-content">
					<form class="uploadImage" enctype="multipart/form-data" action="/documents" method="POST">
					<div class="modal-header">
						<h3 class="modal-title">Add Document</h3>
					</div>
					<div class="modal-body">
						<div class="myFormGroup">
							<input  type="text" name="documentNr" id="documentNr" placeholder="Document #">
						</div>
						<div class="myFormGroup">
							<input  type="text" name="title" id="title" placeholder="Title">
						</div>
						<div class="myFormGroup">
							<input  type="text" name="physicalLocation" id="physicalLocation" placeholder="Physical Location">
						</div>
						<div class="myFormGroup">
							<textarea  name="title" id="description" placeholder="Description"></textarea>
						</div>
						<div class="myFormGroup">
							<input  type="text" name="author" id="author" placeholder="Author">
						</div>
						<div class="myFormGroup">
							<input type="file" name="image" id="file" multiple>
						</div>
					</div>
					<div class="modal-footer">
						<button id='sbumit'>Submit</button>
						<button id='close' data-dismiss="modal">Close</button>
					</div>
				</form>
				</div>
			</div>
		</div>
<!--- /addModal -->
<!--- messageModal -->
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" >
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title">Message</h3>
					</div>
					<div class="modal-body">
						<p id="message"></p>
					</div>
					<div class="modal-footer">
						<button id='close' data-dismiss="modal">Ok</button>
						<button id='close' data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
</div>
<!--- /messageModal -->
<!--- DocumentModal -->

<div class="modal fade" id="DocumentModal" tabindex="-1" role="dialog" >
			<div class="modal-dialog">
				<div class="modal-content">
					
					<div class="modal-header">
						<h3 class="modal-title">Message</h3>
					</div>
					<div class="modal-body">
						<p class="DocumentNrData"><span class="label">Document #:</span> <span class="data"></span></p>
						<p class="authorData"><span class="label">Author:</span> <span class="data"></span></p>
						<p class="descriptionData"><span class="label">Description:</span> <span class="data"></span></p>
						<p class="physicalLocationData"><span class="label">Physical Location:</span> <span class="data"></span></p>
						<span class="label">Images:</span>
						<div class="images text-center">
							
						</div>

					</div>
					<div class="modal-footer">
						<button  id='close' data-dismiss="modal">Close</button>
					</div>
				</form>
				</div>
			</div>
		</div>
<!--- /documentModal -->
<!--  Edit Modal -->
		<div class="modal fade" id="editModal" tabindex="-1" role="dialog" >
			<div class="modal-dialog">
				<div class="modal-content">
					
					<div class="modal-header">
						<h3 class="modal-title">Add Document</h3>
					</div>
					<div class="modal-body">
						<div class="myFormGroup">
							<input  type="text" name="documentNr" id="documentNr" placeholder="Document #">
						</div>
						<div class="myFormGroup">
							<input  type="text" name="title" id="title" placeholder="Title">
						</div>
						<div class="myFormGroup">
							<input  type="text" name="physicalLocation" id="physicalLocation" placeholder="Physical Location">
						</div>
						<div class="myFormGroup">
							<textarea  name="title" id="description" placeholder="Description"></textarea>
						</div>
						<div class="myFormGroup">
							<input  type="text" name="author" id="author" placeholder="Author">
						</div>
					</div>
					<div class="modal-footer">
						<button id='submit'>Submit</button>
						<button id='close' data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
<!--- /addModal -->

