<% include partials/header.ejs %>
<!-- ============== Body ============== -->
	<div class="container">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Title</th>
					<th>Location</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>Lorem ipsum dolor </td>
					<td>A/15</td>
					<td><a href="#" id="open"><i class="fas fa-search"></i></a><a href="#" id='edit'><i class="fas fa-pencil-alt"></i></a><a href="#" id="remove"><i class="fas fa-trash-alt"></i></a></td>
				</tr>
			</tbody>
		</table>


	<% include partials/modal.ejs %>
		
	</div>
<!-- ============== /Body ============== -->
<% include partials/footer.ejs %>