<% include partials/header.ejs %>
<!-- ============== Body ============== -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<table class="table table-striped">
					<thead>
						<tr>
							<th class='hide' >Id</th>
							<th>Document #</th>
							<th>Title</th>
							<th>Location</th>
							<th>Author</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						
					</tbody>
				</table>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<button class="center-block" id="more"><i class="fas fa-caret-down fa-4x"></i></button>
			</div>	
		</div>

	<% include partials/modal.ejs %>
		
	</div>
<!-- ============== /Body ============== -->
<% include partials/footer.ejs %>