/** fonts **/
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
body {
	background-color: #F5F5F5;
	font-family: 'Quicksand' , sans-serif;
	margin:0;
	padding: 0;
}
/*** Navbar ***/
.navbar{
	background-color: #173E43;
	border: none;
	border-radius: 0;
}

.navbar .navbar-brand{
	font-family: "Amatic SC" , cursive;
	color: #15A585;
	font-size: 28px;

}

.navbar .navbar-brand:hover{
	font-family: "Amatic SC" , cursive;
	color: #15A585;
	font-size: 28px;

}

.navbar  #add  {
	padding: 10px;
	border: none;
	background-color : #15A585;
	color:  #173E43;
}

.navbar #add:hover{
	background-color : #173E43;
	color:   #15A585;
}

/*** Body ***/

/*** Table ***/
.table thead tr th {
	color: #0B5C4A;
}

.table tbody tr td {
	color : #15A585;
}

.table tbody tr td  a{
	color : #15A585;
	margin-left: 5px;
}

.table tbody tr td  a:hover{
	color : #0B5C4A;
}

/*** Modal ***/
#addModal .modal-header , #messageModal .modal-header , #DocumentModal .modal-header , #confirmationModal .modal-header , #editModal .modal-header{
	background-color: #173E43;
	color :#15A585;
	border-radius: 2px; 
}

#addModal .modal-footer , #messageModal .modal-footer , #DocumentModal .modal-footer , #confirmationModal .modal-footer , #editModal .modal-footer{ 
	background-color:#15A585;
	color : #173E43;
	border-radius: 2px; 
}
#addModal .modal-footer button , #messageModal .modal-footer button ,#DocumentModal .modal-footer button , #confirmationModal .modal-footer button, #editModal .modal-footer button{
	background-color: #173E43;
	border: none;
	padding: 10px;
	color: #15A585;
}
#addModal .model-content ,#messageModal .model-content , #DocumentModal .modal-content , #confirmationModal .modal-content{
	background-color: #F5F5F5;
}

#addModal .modal-content  .myFormGroup , #editModal .modal-content  .myFormGroup{
	margin-bottom: 10px;
}

#addModal .modal-content  .myFormGroup input  , #editModal .modal-content  .myFormGroup input{
	border: none;
	border-bottom: 3px solid  #173E43;
	border-radius: 3px;
	width: 100%;
	font-size: 15px;
}
#addModal .modal-content  .myFormGroup input::placeholder , #editModal .modal-content  .myFormGroup input::placeholder{
	color: #15A585;
	font-size: 15px;
}

#addModal .modal-content  .myFormGroup input:focus  , #editModal .modal-content  .myFormGroup input:focus{
	border-color:#15A585;

}

#addModal .modal-content  .myFormGroup input:focus::placeholder ,  , #editModal .modal-content  .myFormGroup input:focus::placeholder{
	color: #173E43;
	border-color:#173E43;
}

#addModal .modal-content  .myFormGroup textarea  , #editModal .modal-content  .myFormGroup textarea{
	border: none;
	border-bottom: 3px solid  #173E43;
	border-radius: 3px;
	width: 100%;
	font-size: 15px;
	height: 230px;
}


#addModal .modal-content  .myFormGroup textarea::placeholder  , #editModal .modal-content  .myFormGroup textarea::placeholder{
	color: #15A585;
	font-size: 15px;
}

#addModal .modal-content  .myFormGroup textarea:focus, , #editModal .modal-content  .myFormGroup textarea:focus{
	border-color:#15A585;

}

#addModal .modal-content  .myFormGroup textarea:focus::placeholder , #editModal .modal-content  .myFormGroup textarea:focus::placeholder {
	color: #173E43;
	border-color:#173E43;
}


.hide {
	display: hidden;
}


.label{
	color : #15A585;
	font-size: 15px;
}

.authorData .data{
	font-size:  18px;
}

.images  a .img-thumbnail{
	width: 140px;
	height: 140px;
	margin-left: 10px;
}

#confirmationModal .model-header{
	background-color: #173E43;
	color :#15A585;
	border-radius: 2px; 
}